.content-news


.content-news--img
  width: 50px
  height: auto
  margin: 0 auto
  vertical-align: middle
  padding-bottom: 40px

.content-news--news
  color: $color-accent
  font-size: 22px
  font-weight: 300
  line-height: 1.31
  margin-bottom: 18px

.content-news--user
  color: $color-grey
  font-size: 12px
  font-weight: 700
  line-height: 1.42

.content-news--content
  +cf

.news-image
  +cf
  position: relative
  float: left
  width: 100%
  padding-bottom: 20px

.news-tweet
  +cf
  float: left
  position: relative
  width: 100%



+media-breakpoint-up(sm)
  .content-news--img
    padding-bottom: 0
    width: 87px

  .content-news--content
    height: 100%

  .content-news--news
    font-size: 42px

  .news-image
    margin-top: 20px
    width: 20%

  .news-tweet
    width: 80%

+media-breakpoint-down(sm)
  .content-news--img
    padding-bottom: 0

  .news-tweet,
  .content-news--news
    text-align: center
