// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header
  margin-top: 45px


.header-figure
  margin: 0 auto
  max-width: 488px


.header-content
  margin-top: 35px
  text-align: center

  .text-muted
    color: $color-accent


.header-content--headline
  font-size: 32px
  line-height: 1.41
  margin-bottom: 24px


.header-content--small
  color: $color-grey--light
  display: block
  font-size: 12px
  line-height: 1.7
  margin-top: 8px
