.navigation
  background-color: #fff
  height: 60px
  left: 0
  padding: 25px 0 10px 0
  position: fixed
  top: 0
  width: 100%
  z-index: 100

.navigation-list
  +ce
  display: inline-block
  margin-top: 10px
  position: relative



.navigation-item
  +ce
  display: inline
  text-transform: uppercase
  font-size: 12px
  font-weight: 700
  color: $color-text--primary
  margin-right: 48px
  line-height: 1.42


  &:last-child
    margin-right: 0

  &:hover
    border-bottom: 2px solid $color-text--primary



// reset all a style
.navigation-item
  a
    color: $color-text--primary
    text-decoration: none

    &::hover,
    &::active,
    &::visited
      color: $color-text--primary
      text-decoration: none
