.navigation
  background-color: #fff
  left: 0
  padding: 25px 0 10px 0
  text-align: center

.navigation-sticky
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 100
  -webkit-box-shadow: 0px 0px 3px 0px rgba(40,40,40,0.4)
  -moz-box-shadow: 0px 0px 3px 0px rgba(40,40,40,0.4)
  box-shadow: 0px 0px 3px 0px rgba(40,40,40,0.4)




.navigation-small
  +cf
  max-width: 778px

.navigation-list
  +ce
  display: inline-block
  margin: 10px auto 0 auto
  position: relative

.navigation-item
  +ce
  color: $color-text--primary
  display: inline
  font-size: 12px
  font-weight: 700
  line-height: 1.42
  margin-right: 48px
  text-transform: uppercase


  &:last-child
    margin-right: 0

  &:hover
    border-bottom: 2px solid $color-text--primary


.navigation-button
  display: none

// reset all a style
.navigation-item
  a
    color: $color-text--primary
    text-decoration: none

    &::hover,
    &::active,
    &::visited
      color: $color-text--primary
      text-decoration: none






+media-breakpoint-up(sm)

  .navigation
    padding-left: 16px
    padding-right: 16px
    text-align: left

  .navigation-button
    display: block

  .navigation-small
    margin: 0 auto
    text-align: left
