body
  font-family: 'Oxygen', sans-serif
  line-height: 1.54

img
  display: block
  max-height: auto
  max-width: 100%


figure
  +ce


.main
  font-size: 10px
  margin-top: 186px

.container-small
  max-width: 778px
  padding: 0 32px

+media-breakpoint-up(md)
  .container-small
    padding: 0
