body
  font-family: 'Oxygen', sans-serif
  line-height: 1.54

img
  display: block
<<<<<<< HEAD
  max-width: 100%
  max-height: auto
=======
//   width: 100%
//   height: auto
>>>>>>> be9bacd45f75971a57074b756fd955d2a0871f60


figure
  +ce



a
  color: $color-primary

  &:hover
    color: $color-primary
    text-decoration: underline
