code
  font-size: 26px
  line-height: 1.54
  color: #606060
  font-weight: normal


p
  line-height: 1.54
  font-weight: 300



a
  color: $color-primary

  &:hover
    color: $color-primary
    text-decoration: underline



.content-regular
  font-weight: 400
