code
  border-radius: 5px
  color: #606060
  font-family: Courier New
  font-size: 26px
  font-weight: normal
  line-height: 1.54


p
  line-height: 1.54
  font-weight: 300
  text-align: left

a
  color: $color-primary

  &:hover
    color: $color-primary
    text-decoration: underline

.content-regular
  font-weight: 400
  color: $color-accent

a.grey-link
  color: #bebebe
  text-decoration: underline

  &:hover
    color: #1c1f2b


.not-available
  font-size: 16px
  line-height: 1.54
  font-weight: 300


a.twitter-link
   color: #606060
